<% include ../customs/client/cabecalho %>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
              <div class="col-sm-10 col-sm-8 mx-auto">
                <div class="card rounded shadow shadow-sm" style="margin-top: -12%;">
                  <div class="card-header background-card">
                    <h3 class="mb-0 brand">Criar uma Conta!</h3>
                  </div>
                  <form method="POST" action="<%= url %>/cadastrar" class="form" role="form" autocomplete="off" id="form" novalidate="">
<% if(erros.validacao) { %>
                    <div class="col-sm-12" style="margin-bottom: -4%;">
                    <div style="margin-top: 2% !important;" class="alert alert-danger text-center" role="alert"><%= erros.validacao %></div>
                    </div>
<% } %>
<% if(erros.cpf) { %>
                    <div class="col-sm-12" style="margin-bottom: -4%;">
                      <div style="margin-top: 2% !important;" class="alert alert-danger text-center" role="alert"><%= erros.cpf %></div>
                    </div>
<% } %>
                    <div class="card-body" style="margin-top: 2%;">
                      <div class="form-group mb-2">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">Nome</div>
                          </div>
                          <input type="text" class="form-control form-control-md rounded-0" name="nome" id="nome" required="" placeholder="Nome completo">
                          <!-- <div class="invalid-feedback">Campo "Nome" não pode ser vazio!</div> -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group mb-2">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">Data de Nascimento</div>
                              </div>
                              <input type="text" class="form-control form-control-md rounded-0 date" name="dt_nascimento" id="dt_nascimento" required="" placeholder="__/__/____">
                              <!-- <div class="invalid-feedback">Campo "Data de Nascimento" não pode ser vazio!</div> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group mb-2">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">CPF</div>
                              </div>
                              <input type="text" class="form-control form-control-md rounded-0" name="cpf" id="cpf" required="" placeholder="xxx.xxx.xxx.xx">
                              <!-- <div class="invalid-feedback">Campo "CPF" não pode ser vazio!</div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-2">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text">E-mail</div>
                          </div>
                          <input type="text" class="form-control form-control-md rounded-0" name="email" id="email" required="" placeholder="e-mail">
                          <!-- <div class="invalid-feedback">Campo "E-mail" não pode ser vazio!</div> -->
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group mb-2">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">Senha</div>
                              </div>
                              <input type="password" class="form-control form-control-md rounded-0" name="senha" id="senha" required="" placeholder="Informe uma senha">
                              <!-- <div class="invalid-feedback">Campo "Senha" não pode ser vazio!</div> -->
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group mb-2">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <div class="input-group-text">Confirmação</div>
                              </div>
                              <input type="password" class="form-control form-control-md rounded-0" name="confirma_senha" id="confirma_senha" required="" placeholder="Confirmação de senha">
                              <!-- <div class="invalid-feedback">Campo "Confirmação" não pode ser vazio!</div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="time">Time</label>
                        </div>
                        <select class="form-control  form-control-md" id="time" name="time">
<% for(var i = 0; i < times.length; i++) { %>
                          <option value="<%= times[i].id %>"><%= times[i].nome %></option>
<% } %>
                        </select>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="row">
                        <div class="col-sm-6">
                          <a href="<%= url %>/login" class="btn btn-dark btn-md float-left brand-button" style="margin-top: 0.3% !important;">Voltar</a>
                        </div>
                        <div class="col-sm-6">
                          <input type="hidden" name="checker" id="checker" value="<%= checker %>">
                          <button type="submit" class="btn btn-dark btn-md float-right brand-button" style="margin-top: 0.3% !important;">Cadastrar-se</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<% include ../customs/client/rodape %>