<!doctype html>
<html lang="pt_br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Ecommerce - Projeto NodeJS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ecommerce">
    <meta name="keywords" content="Ecommerce">
    <meta name="author" content="nathan_oliveiramendonca@hotmail.com">
    <link rel="shortcut icon" href="<%= url %>/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="<%= url %>/img/favicon.ico" type="image/x-icon">
    <!-- Styles SASS -->
    <link href="<%= url %>/css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire Swash" rel="stylesheet">
    <!-- JavaScripts -->
    <script src="<%= url %>/js/javascripts.min.js"></script>
  </head>
  <body>
    <div id="back"></div>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container" id="cabecalho">
          <a class="navbar-brand logo-font brand" id="brand" href="<%= url %>">FUTBOLISTA</a>
          <!-- links toggle -->
          <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#links" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <!-- account toggle -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#account" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <% if(identification === true && usuario === 0) { %>
              <i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
              <span class="badge badge-light">2</span>
            <% } else { %>
              <i class="fas fa-sign-in-alt"></i>
            <% } %>
          </button>
            <div class="collapse navbar-collapse" id="links">
              <ul class="navbar-nav mr-auto">
                <% if(identification === true && usuario === 0) { %>
                  <li class="nav-item">
                    <a class="nav-link"  href="<%= url %>/minha-conta">Minha Conta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="<%= url %>/minhas-compras">Minhas Compras</a>
                  </li>
                <% } %>
                <% if(identification === true && usuario === 1) { %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cadastrar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="<%= url %>/categorias/cadastrar">Categorias</a>
                      <a class="dropdown-item" href="<%= url %>/produtos/listar">Produtos</a>
                      <a class="dropdown-item" href="<%= url %>/times/cadastrar">Times</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gerenciamento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="<%= url %>">Resumo de Vendas</a>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="account">
              <ul class="navbar-nav ml-auto">
                <% if(usuario != 1) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= url %>/carrinho"><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>&nbsp;Carrinho</a>
                  </li>
                <% } %>
                <% if(identification === true) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= url %>/logout"><i class="fas fa-sign-in-alt"></i>&nbsp;Sair</a>
                  </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= url %>/login"><i class="fas fa-sign-in-alt"></i>&nbsp;Entrar</a>
                  </li>
                <% } %>
              </ul>
            </div>
        </div>
      </nav>
    </header>
    <br><br><br>
    <section class="min-vh-90">