<!doctype html>
<html lang="pt_br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire Swash" rel="stylesheet">
    <!-- Datatables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <!-- Style -->
    <link rel="stylesheet" type="text/css" href="<%= url %>/css/Client.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha256-yE5LLp5HSQ/z+hJeCqkz9hdjNkk1jaiGG0tDCraumnA=" crossorigin="anonymous"></script>
    <!-- custom js -->
    <script lang="javascript" src="<%= url %>/js/Client.js"></script>
    <!-- Datatables -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>
    <!-- Alert  -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9.7.2/dist/sweetalert2.all.min.js"></script>

    <title>Ecommerce - Projeto NodeJS</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand logo-font brand" id="brand" href="<%= url %>">FUTBOLISTA</a>
          <!-- links toggle -->
          <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#links" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <!-- account toggle -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#account" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <% if(identification === true && usuario === 0) { %>
              <i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>
              <span class="badge badge-light">2</span>
            <% } else { %>
              <i class="fas fa-sign-in-alt"></i>
            <% } %>
          </button>
            <div class="collapse navbar-collapse" id="links">
              <ul class="navbar-nav mr-auto">
                <% if(identification === true && usuario === 0) { %>
                  <li class="nav-item">
                    <a class="nav-link"  href="<%= url %>/minha-conta">Minha Conta</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="<%= url %>/produtos">Produtos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link"  href="<%= url %>/minhas-compras">Minhas Compras</a>
                  </li>
                <% } %>
                <% if(identification === true && usuario === 1) { %>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Cadastrar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="<%= url %>/categorias/cadastrar">Categorias</a>
                      <a class="dropdown-item" href="<%= url %>/produtos/listar">Produtos</a>
                      <a class="dropdown-item" href="<%= url %>/times/cadastrar">Times</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Gerenciamento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="<%= url %>">Resumo de Vendas</a>
                    </div>
                  </li>
                <% } %>
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="account">
              <ul class="navbar-nav ml-auto">
                <% if(identification === true && usuario === 0) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= url %>/carrinho"><i class="fa fa-shopping-cart fa-1x" aria-hidden="true"></i>&nbsp;Carrinho</a>
                  </li>
                <% } %>
                <% if(identification === true) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= url %>/logout"><i class="fas fa-sign-in-alt"></i>&nbsp;Sair</a>
                  </li>
                <% } else { %>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= url %>/login"><i class="fas fa-sign-in-alt"></i>&nbsp;Entrar</a>
                  </li>
                <% } %>
              </ul>
            </div>
        </div>
      </nav>
    </header>
    <br><br><br>
    <section class="min-vh-90">