<% include ../../customs/client/cabecalho %>
      <!-- Menu2 -->
      <div class="menu2 fixed-top" id="menu2" style="margin-top: 4.5%;">
        <nav class="navbar navbar-expand-lg navbar-while" id="menupesquisa">
            <div class="container">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Pesquisar" aria-label="Pesquisar" aria-describedby="Pesquisar">
                <div class="input-group-append">
                  <button class="btn btn-blue" type="button">
                    <i class="fas fa-search" style="color: #fff !important; font-weight: 500;"></i> 
                    <b style="color: #fff !important; font-weight: 500;">Pesquisar</b>
                  </button>
                </div>
              </div>
            </div>
        </nav>
      </div>
      <div class="container">
        <div class="row"  style="margin-top: 4.5%;">
          <div class="col-sm-3" style="margin-top: -1%;">
            <fieldset>
              <legend style="text-align: center !important;">Ordenar por</legend>
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect01">
                      <option value="1">Menores Preços</option>
                      <option value="2">Maiores Preços</option>
                      <option value="3">Mais Relevantes</option>
                      <option selected value="4">Mais Vendidos</option>
                      <option value="5">Melhor Avaliados</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-12" style="margin-top: 5px;">
                  <button type="button" class="btn btn-blue btn-block" style="color: #fff !important;"><i class="fas fa-filter"></i>&nbsp;Filtrar</button>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend style="text-align: center !important;">Preço</legend>
              <div class="row">
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <label class="" id="content-check">
                        <p class="p-check">Teste Teste Teste Teste</p>
                        <input type="checkbox"> <!--  checked="checked" -->
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-sm-12">
                      <label class="" id="content-check">
                        <p class="p-check">Teste Teste Teste Teste</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-sm-12">
                      <label class="" id="content-check">
                        <p class="p-check">Teste Teste Teste Teste</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="col-sm-12">
                      <label class="" id="content-check">
                        <p class="p-check">Teste Teste Teste Teste</p>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <fieldset>
              <legend style="text-align: center !important;">Categorias</legend>
                <div class="row" style="cursor: pointer;">
                  <div class="col-md-12">
                    <ul class="list-group">
                      <a class="list-group-item active" ref_sys="variados">
                        <input type="hidden" value="variados" id="variados">
                        <li class="active" style="display: block;">
                          Produtos Variados
                        </li>
                      </a>
                      <a class="list-group-item active2" ref_sys="relogio">
                        <input type="hidden" value="relogio" id="relogio">
                        <li class="active" style="display: block;">
                          Relógio
                        </li>
                      </a>
                      <a class="list-group-item active2" ref_sys="camiseta">
                        <input type="hidden" value="camiseta" id="camiseta">
                        <li class="active" style="display: block;">
                          Camiseta
                        </li>
                      </a>
                      <a class="list-group-item active2" ref_sys="tenis">
                        <input type="hidden" value="tenis" id="tenis">
                        <li class="active" style="display: block;">
                          Tênis
                        </li>
                      </a>
                    </ul>
                  </div>
                </div>
            </fieldset>
          </div>
          <div class="col-sm-9">
            <div class="row">
              <!--  -->
<% if (data.length > 0) { %>
<% for (var i = 0; i < data.length; i++) { %>
              <div class="col-sm-4" style="margin-top: 1%;">
                <div class="card bg-light mb-3" style="max-width: 18rem; margin-top: 2%;">
                  <div class="card-head zoom">
                    <img class="card-img-top" src="<%= url %>/uploads/<%= data[i].imagem %>" alt="Card image cap">
                  </div>
                  <div class="card-body" style="background: #fff;">
                    <h5 class="card-title text-center"><%= data[i].nome %></h5>
                    <p class="card-text"><%= data[i].descricao %> ....</p>
                    <div class="text-center">
                      <span class="button2 spanValor">$ <%= data[i].preco %></span>
                      <a class="button2 comprar-button">Visualizar</a>
                    </div>
                  </div>
                </div>
              </div>
<% } %>
<% } %>
              <!--  -->
            </div>
          </div>
        </div>
      </div>

      <script>
        $(function() {
          cliqueMenu();
          document.getElementById("variados").click();
        });

        $(window).scroll(function() {
          if ($(this).scrollTop() > 40) {
            $("#menupesquisa").addClass("bg-while");
            $("#menu2").css({"margin-top": "4%"});
          } else {
            $("#menupesquisa").removeClass("bg-while");
            $("#menu2").css({"margin-top": "4.5%"});
          }
        });

        function cliqueMenu() {
          $('#menu-principal a, .list-group a').click(function() {
            $('.list-group a').removeClass('active')
            $('.list-group a[ref_sys='+$(this).attr('ref_sys')+']').addClass('active')

            // switch ($(this).attr('ref_sys')) {
            //   case $("#variados").val(): variados(); break;
            //   case $("#relogio").val(): relogio(); break;
            //   case $("#camiseta").val(): camiseta(); break;
            //   case $("#tenis").val(): tenis(); break;
            //   default:
            //     break;
            // }
            return false;
          })
        }
      </script>
<% include ../../customs/client/rodape %>